        <!-- header start -->


  <!-- header end -->
  <!-- Slider Start -->


  <style>
    .mat-dialog-container {
  display: contents !important;
  padding: 24px;
  border-radius: 4px;
  box-sizing: border-box;
  overflow: auto;
  outline: 0;
  width: 100%;
  height: 88%;
  min-height: inherit;
  max-height: inherit;
}
</style>

<div class="login-register-area ptb-100">



        <div id="pre-loader"  *ngIf="loader">
            <div class="loader ">
                <div class="loader__item"></div>
                <div class="loader__item"></div>
                <div class="loader__item"></div>
                <div class="loader__item"></div>
                <div class="loader__item"></div>
                </div>      </div>
      <div class="">
        <div class="container d-flex justify-content-center">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-xs-12 col-lg-11 mt-3 mb-5" >
                    <!-- Login Form s-->
                    <form  [formGroup]="restForm">
                        <div class="login-form" style="
                        height: 362px;
                        margin-top: 41px;">
                            <h4 class="login-title">
                                Rest Password</h4>
                            <div class="row">
                                <div *ngIf="showError"  class="alert alert-danger" style="left: 73px;
                                width: 74%;" role="alert">
                                    Email Or Code Is Not Valid
                                    <a style="text-align: center;" class="alert-link">try again</a>
                                  </div>
                                <div class="col-md-12 col-12 mb-20">
                                    <label>Email Address<span style="margin-left: 3px;">*</span></label>
                                    <input formControlName="email" class="mb-0" type="email" placeholder="Email Address">
                                </div>
                                <div class="col-md-12 col-12 mb-20">
                                    <label>Password <span style="margin-left: 3px;">*</span></label>
                                    <input formControlName="password" class="mb-0" type="password" placeholder="Password ">
                                </div>
                                <div class="col-md-8">
                                    <!-- <div class="check-box d-inline-block ml-0 ml-md-2 mt-10">
                                        <label style="cursor: pointer;" routerLink="/Restger" for="remember_me">You do not have an account?
                                            <br>
                                            <span>register now</span>
                                        </label>
                                    </div> -->
                                </div>
                               
                                <div class="col-md-12">
                                    <button (click)="Submit()" [disabled]="restForm.invalid" class="register-button mt-0">Submit</button>
                                </div>

                            </div>
                            <hr>
                    
                         


                        </div>

                    </form>

                </div>

            </div>
        </div>
    </div>











  