
<div *ngIf="loader" class="preloader">
    <div class="preloader-inner">
    <div class="preloader-icon">
    <span></span>
    <span></span>
    </div>
    </div>
    </div>


<section class="ecom-wc ecom-wc__full ecom-bg-cover" style="background-image: url('../../assets/img/credential-bg.html');">
    <div class="container-fluid p-0">
    <div class="row g-0">
    <div class="col-lg-6 col-12">
    <div class="ecom-wc__form">
    <div class="ecom-wc__form-inner">
    <h3 class="ecom-wc__form-title ecom-wc__form-title__one" style="text-align: center;">Create Account <span> Welcome To ValU Cleaning Care</span></h3>
    
    <form *ngIf="showForm" [formGroup]="registerForm" class="ecom-wc__form-main p-0" action="https://quomodothemes.website/html/homeco/index.html" method="post">
    <div class="row">
    <div class="col-lg-6 col-md-6 col-12">
    <div class="form-group homec-form-input">
    <label class="ecom-wc__form-label mg-btm-10"> Email Address *</label>
    <div class="form-group__input">
    <input   formControlName="email" class="ecom-wc__form-input" type="email" name="f_name" placeholder="Demo Email" required="required">
    </div>
    </div>
    </div>
   
    <div class="col-xxl-6 col-lg-6 col-12">
    <div class="form-group homec-form-input">
    <label class="ecom-wc__form-label mg-btm-10">Name *</label>
    <div class="form-group__input">
    <input  formControlName="name" class="ecom-wc__form-input" type="text" name="f_number" placeholder="Demo Name" required="required">
    </div>
    </div>
    </div>
    <div class="col-xxl-6 col-lg-6 col-12">
    <div class="form-group homec-form-input">
    <label class="ecom-wc__form-label mg-btm-10">Address *</label>
    <div class="form-group__input">
    <input formControlName="address" class="ecom-wc__form-input" type="email" name="l_name" placeholder="Address" required="required">
    </div>
    </div>
    </div>
    <div class="col-xxl-6 col-lg-6 col-12">
        <div class="form-group homec-form-input">
        <label class="ecom-wc__form-label mg-btm-10">Phone *</label>
        <div class="form-group__input">
        <input formControlName="phone" class="ecom-wc__form-input" type="email" name="l_name" placeholder="Phone" required="required">
        </div>
        </div>
        </div>
        <div class="col-lg-6 col-md-6 col-12">
    
            <div class="form-group homec-form-input">
            <label class="ecom-wc__form-label mg-btm-10">Password *</label>
            <div class="form-group__input">
            <input  [type]="changetype?'password':'text'"  formControlName="password" class="ecom-wc__form-input" placeholder="●●●●●●" id="password-field" type="password" name="password"  required="required">
            <span class="eyeicon" (click)="viewpass()">
                <i style="font-size: 17px;"[ngClass]="visible?'fa fa-eye':'fa fa-eye-slash'"></i>
              </span>   
        </div>
            </div>
            </div>
    <div class="col-lg-6 col-md-6 col-12">
    
    <div class="form-group homec-form-input">
    <label class="ecom-wc__form-label mg-btm-10">Confirm Password *</label>
    <div class="form-group__input">
    <input [type]="changetypee?'password':'text'"  formControlName="password_confirmation" class="ecom-wc__form-input" placeholder="●●●●●●" id="password-field" type="password" name="password"  required="required">
    <span class="eyeicon" (click)="viewpasss()">
        <i style="font-size: 17px;"[ngClass]="visibleee?'fa fa-eye':'fa fa-eye-slash'"></i>
      </span>    
</div>
    </div>
 
 


    <!--    <label  for="selected" type="button" class="button green small" > Choose Photo</label>
                <input type="file" (change)="selectPhtot($event)" id="selected" hidden class="form-control">
               -->
    </div>
    <div class="col-lg-6 col-md-6 col-12">
    <div class="form-group homec-form-input">
        <label class="ecom-wc__form-label mg-btm-10">Comoany Id *</label>
        <div class="form-group__input">
        <input formControlName="companyId" class="ecom-wc__form-input" placeholder="id" id="password-field" type="text" name="password"  required="required">
           
    </div>
    </div>
        </div>




        <div class="col-lg-6 col-md-6 col-12">
            <div style="    margin-top: 52px;
            " class="form-group homec-form-input">
                <label  for="selected" type="button" class=" ecom-wc__form-input form-control" > Choose Photo Comoany</label>
                <div class="form-group__input">
                    <input type="file" (change)="selectPhtot($event)" id="selected" hidden class="form-control">
                   <img style="height: 150px;" [src]="url" alt="">
            </div>
            </div>
                </div>
    
    </div>
    
    <div class="form-group form-mg-top-30">
    <div class="ecom-wc__button ecom-wc__button--bottom">
    <button (click)="Register()" [disabled]="registerForm.invalid || (registerForm.value.password !== registerForm.value.password_confirmation)"  class="homec-btn homec-btn__second" type="submit"><span>Sign Up</span></button>
    </div>
    </div>
    
   
    </form>
    
    </div>
    </div>
    </div>
    <div class="col-lg-6 col-12 d-none d-lg-block ">
        <div class="ecom-wc__inner homec-bg-cover" style="background-image: url('../../../assets/img/welcome-bg.svg');">
        
        <div class="ecom-wc__logo">
        <a href="index.html"><img src="../../../assets/imgs/152 - 38 Valu Clean Care Site Logo 02.png" alt="#"></a>
        </div>
        <div class="ecom-wc__inside">
        
        <div class="ecom-wc__middle">
        <a href="index.html">
            <img src="../../../assets/imgs/492 - 492 ValuClean 01 (1).png" alt="#">
        </a>
        <div class="ecom-wc__countdown--title">3 Years            <span>High experience   </span></div>
        <div class="ecom-wc__countdown--title ecom-wc__countdown--title--v2">150k<span>Built Hose</span></div>
        </div>
        <div class="ecom-wc__footer">
        <ul class="ecom-wc__footer--list list-none">
        <li><a target="_blank" href="/termsandConditions">Terms &amp; Condition</a></li>
        
        <!-- <li><a href="#">Help</a></li> -->
        </ul>
        <!-- <div class="ecom-wc__footer--languages">
        <select class="ecom-wc__footer--language select2-hidden-accessible" data-select2-id="select2-data-1-c82j" tabindex="-1" aria-hidden="true">
        <option data-display="english" data-select2-id="select2-data-3-pwax">English</option>
        <option value="2">Bengali</option>
        <option value="3">Frances</option>
        </select><span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="select2-data-2-qpdv" style="width: 84.8px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-db4q-container" aria-controls="select2-db4q-container"><span class="select2-selection__rendered" id="select2-db4q-container" role="textbox" aria-readonly="true" title="English">English</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
        </div> -->
        </div>
        <p class="ecom-wc__footer--text">@ 2023 <a target="_blank" > Dr Code</a>. </p>
        </div>
        </div>
        </div>
    </div>
    </div>
    </section>