

@media (max-width: 1199px){
    .menu {
        display: block !important;
    }
  }





  .language {
    width: 110px;
    height: 30px;
    font-size: 14px;
    line-height: 1;
    margin: 1em 0;
}
.hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    width: 1px;
    height: 1px;
    border: 0;
    margin: -1px;
    padding: 0;
}

.language__container--left, .language__container--right {
    position: relative;
    float: left;
    width: 55px;
    height: 30px;
    padding: 5px;
}
.language__container--fr .language__label {
    background-image: url('https://flagicons.lipis.dev/flags/4x3/se.svg');
}
.language__container--left .language__label {
    border-radius: 4px 0 0 4px;
}
.language__label {
    position: absolute;
    top: 0;
    left: 0;
    width: 55px;
    height: 30px;
    border: 1px solid #ccc;
    padding: 7px 8px 5px 0;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: 7px 7px;
    background-size: 14px;
    text-align: right;
    text-transform: uppercase;
}
.hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    width: 1px;
    height: 1px;
    border: 0;
    margin: -1px;
    padding: 0;
}
.language__container--left, .language__container--right {
    position: relative;
    float: left;
    width: 55px;
    height: 30px;
    padding: 5px;
}

[type="checkbox"], [type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
.language__container--en .language__label {
    background-image: url('https://russmaxdesign.github.io/language-switcher/assets/img/gb.svg');
}
.language__container--right .language__label {
    border-left: 0;
    border-radius: 0 4px 4px 0;
}
.language__label {
    position: absolute;
    top: 0;
    left: 0;
    width: 55px;
    height: 30px;
    border: 1px solid #ccc;
    padding: 7px 8px 5px 0;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: 7px 7px;
    background-size: 14px;
    text-align: right;
    text-transform: uppercase;
}


.hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    width: 1px;
    height: 1px;
    border: 0;
    margin: -1px;
    padding: 0;
}
  .language {
    width: 110px;
    height: 30px;
    font-size: 14px;
    line-height: 1;
    margin: 1em 0;
}
 


@media only screen and (max-width: 767px){
.homec-header__list {
    /* justify-content: center; */
    align-items: center !important;
    gap: none !important;
    flex-wrap: wrap !important;
}
}